.create-board {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6vh;
  border: solid black 1px;
  height: 400px;
  width: 200px;
  background-color: rgb(57, 57, 68);
  padding: 10px;
  color: lightgray;
  border-radius: 5px;
  z-index: 1;
  border: rgb(97, 97, 114) 1px solid;
}
.create-board > h4 {
  margin: 0px;
  margin-bottom: 5px;
}
.preview-1 {
  background-color: white;
  height: 60px;
  width: 30px;
  display: flex;
  border: 3px rgb(236, 234, 234) solid;
  position: absolute;
  top: 40px;
  left: 40px;
}
.preview-2 {
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border: 3px rgb(236, 234, 234) solid;
  position: absolute;
  top: 40px;
  left: 95px;
}
.preview-3 {
  background-color: white;
  height: 60px;
  width: 30px;
  display: flex;
  border: 3px rgb(236, 234, 234) solid;
  position: absolute;
  top: 40px;
  left: 150px;
}
.create-board > h5 {
  margin-bottom: 3px;
}
input[type="radio"] {
  display: none;
}
.preview-board {
  display: flex;
  height: 100px;
  width: 180px;
  margin: 0px auto;
  border: rgb(136, 136, 136) 1px solid;
  border-radius: 5px;
}
input[type="radio"]:checked + .radio-label {
  border: 3px solid white;
}

label.radio-label {
  box-sizing: border-box;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.background-colors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-board-button {
  background-color: rgb(83, 83, 98);
  color: lightgray;
  margin: 15px 0px;
  height: 40px;
  font-weight: bold;
}
