.live-board-title {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  margin: 11px 10px;
  font-weight: bold;
  font-size: larger;
  width: 80%;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.board-details-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.182);
  height: 50px;
}

.board-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px;
  overflow-x: auto;
  width: 100%;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.modal-container {
  margin-left: auto;
  padding-right: 10px;
}
