.live-board-title {
  background: transparent;
  border: none;
  cursor: pointer;
}

.board-details {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    gap: 10px; 
    padding: 10px; 
    overflow-x: auto; 
  }

.lists-container {
  display: flex; 
  overflow-x: auto; 
  align-items: flex-start; 
  gap: 10px; 
  padding: 10px; 
  height: calc(100vh - 60px); 
  flex-wrap: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.lists-container::after {
  content: '';
  flex: 0 0 10px;
}

.list-container {
  background-color: #f4f5f7; 
  min-width: 300px;
  max-width: 320px; 
  margin-right: 10px; 
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  max-height: calc(100vh - 100px); 
}

.list-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 2px;
}


.modal-container {
  margin-left: auto;
  padding-right: 10px; 
}


