.your-workspaces,
.guest-workspaces {
  display: flex;
  flex-wrap: wrap;
}

.Landing-Page {
  background-color: rgb(40, 40, 48);
  padding-left: 20px;
  min-width: 100vw;
  color: lightgray;
  overflow-y: scroll;
}

.Landing-Page > h4 {
  margin: 10px 0px;
}

.create-new-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 150px;
  border: 1px black solid;
  border-radius: 5px;
  color: lightgray;
  padding: 10px;
  margin: 10px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(to left top, #4c4f6b, #181b40);
}

.create-new-board:hover {
  cursor: pointer;
}
