.your-workspaces,
.guest-workspaces {
  display: flex;
  flex-wrap: wrap;
}

.Landing-Page {
  background-color: rgb(40, 40, 48);
  padding-left: 20px;
  width: 90vw;
  color: lightgray;
  overflow-y: scroll;
}
