.create-comment-container {
  font-family: 'Open Sans';
  font-size: 14px;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 30px 1fr 30px;
  grid-template-areas:
  "initials text-area"
  "initials text-area"
  ". save-button";
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.create-comment-initials {
  grid-area: initials;
  background-color: lightcoral;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-comment-text-container {
  grid-area: text-area;
}

.create-comment-text {
  /* grid-area: text-area; */
  font-family: 'Open Sans';
  font-size: 13px;
  color: #b6c2cf;
  background-color: #323940;
  border: 1px solid #e9ebee;
  border-radius: 10px;
  box-shadow: 0px 1px #b7bdc8;
  padding: 4px 10px;
  margin: 3px;
  height: 25px;
  width: 90%;
  display: flex;
  align-items: center;
  overflow: hidden;
  resize: vertical;
  /* min-height: 80px; */
}

.button-validation-combo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.create-comment-save {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 300;
  grid-area: save-button;
  background-color: #e9ebee;
  color: #808b9d;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  margin: 3px;
  cursor: context-menu;
}

.create-comment-save-enabled {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: bold;
  grid-area: save-button;
  color: white;
  background-color: #0c66e4;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  margin: 3px;
}

.create-comment-save-hidden {
  display: none;
}

.comment-length-error {
  display: none;
}

.comment-length-error-error {
  color: #db1a1a;
  padding-left: 15px;
}
