.Side-Panel {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.side-panel-component {
  background-color: rgb(40, 40, 48);
  color: lightgray;
  min-width: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: solid rgb(81, 81, 102) 1px;
  min-height: 94vh;
  overflow-y: scroll;
}

.side-panel-component > * a {
  text-decoration: none;
  color: lightgray;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 10px 10px;
}

.side-panel-component > ul {
  margin: 0px;
  padding: 0px;
  border-bottom: solid rgb(81, 81, 102) 1px;
}

.side-panel-component > * li {
  list-style-type: none;
}

.side-panel-component > * h4 {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
}

.item-preview {
  display: flex;
  min-height: 20px;
  min-width: 25px;
  border-radius: 3px;
  margin-right: 5px;
}

.side-item > * div {
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
}

.side-item:hover .item-ellipsis {
  visibility: visible;
}

.item-ellipsis {
  visibility: hidden;
  margin-left: 5px;
}

.side-panel-component > * .toggle-menu {
  cursor: pointer;
}

.side-item .active {
  background-color: rgba(255, 255, 255, 0.19);
}

.toggle-menu > * i {
  margin-right: 10px;
}

.side-panel-noboards {
  font-style: italic;
  margin-left: 10px;
}
