.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  border: black solid 1px;
  width: 200px;
  height: 110px;
  background-color: rgb(35, 57, 57);
  color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}
.profile-dropdown > li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.profile-dropdown > h4 {
  padding: 0px;
  margin: 0px;
}

.login-button {
  height: 35px;
  width: 100px;
  margin: 20px auto;
  background-color: darkslategray;
  color: lightgray;
  /* font-weight: bold; */
  font-size: medium
}

.profile-dropdown > * button {
  height: 35px;
  width: 100px;
  margin: 20px auto;
  background-color: darkslategray;
  color: lightgray;
}

.profile-dropdown > ul {
  padding: 5px;
  margin: 5px;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 6vh;
  background-color: rgb(19, 32, 32);
  align-items: center;
  padding: 0px 20px;
  border-bottom: rgb(56, 94, 94) solid 1px;
}

#logo {
  color: lightgray;
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 25px;
}

.navigation > * a {
  text-decoration: none;
}

.new-board-button {
  background-color: rgb(96, 188, 255);
  font-weight: bold;
  border: 1px black solid;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}

.profile-logged-in {
  background-color: rgb(10, 193, 193);
  border-radius: 100px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
