.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  border: black solid 1px;
  width: 100px;
  height: 100px;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.navigation > * a {
  text-decoration: none;
}

.new-board-button {
  background-color: rgb(96, 188, 255);
  font-weight: bold;
  border: 1px black solid;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}
